*{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

/* Styles for navbar */

 .navbar{
    background-color: #444;
}

.navbar-brand{
    margin-left:10em;
}

#navbarNav:last-child{
    margin-right: 10em;
}

.navbar-toggler{
    background-color: #c2c2c2;
}

.navbar .navbar-brand, .navbar-nav .nav-item .nav-link{
    color: #c2c2c2;
}

/* Section Form */
.sectionForm{
    background-image: url('../img/form-background.jpg');
    background-size: cover;
    color: #fff;
    padding-top: 5em; 
}

.formHeader{
    padding-top: 1.75em;
    background-color: rgba(0, 0, 0, 0.35);
}

.formHeaderH1{
    font-size: 2em;
}

.formHeaderP{
    font-size: 1em;
}

.iconForm{
    font-size: 3em;
}

.formBody{
    padding-top: 1em;
    background-color: rgba(0, 0, 0, 0.3);
}

.message{
    width: 100%;
    border-radius: 2%;
}

.customBtn{
    width: 100%;
    background-color: #e38f42;
    color: #fff;
}

.spanAgreement{
    color: #e38f42;
}

.content-holder{
    padding: 150px 0px 50px 0px;
}

.inscriptionH1{
    font-size: 2em;
    font-weight: 700;
}

.btnOrange{
    background-color: #e38f42;
    border-color: #e38f42;
    color: #fff;
}

.btnTransparent{
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;
}

.btnTransparent:hover{
    color: #e38f42;
}
.iconsForBtn{
    margin-left: 0.1em; 
}

